* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(162, 234, 252);
}

header {
    padding: 20px 35px;
    background-image: url(../images/Hero.jpg);
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bold;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    font-size: 36px;
    margin: 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

header nav {
    margin: 0;
    float: right;
    
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
    font-size: 26px;
    display: inline-block;
}

.hero-img {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-text {
    text-align: center;
    position: relative;
    float: inline-end;
}

.about-me {
    margin-bottom: 20px;
    position: relative;
}

.about-me img {
    float: right;
}

.projects a {
    border: 1px solid black;
    padding: 20px;
    background-color: rgba(138, 237, 255, 0.5);
    position: absolute;
}
